body {
    background-color: #1B1F27;
    font-family: Arial;
    overflow: hidden;
}

.area-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181920;
    width: 355px;
    height: 320px;
    padding: 35px;

}

.login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login input {
    margin-top: 10px;
    background-color: #252A34;
    color: #CBD0F7;
    border: none;
    height: 45px;
    padding-left: 10px;
    outline: none;
    border-radius: 8px;
}

.login img {
    width: 80px;
    height: auto;
}

input::placeholder {
    color: #CBD0F7;
}

input::placeholder {
    color: #CBD0F7;
    font-size: 14px;
}

.login p {
    color: white;
    font-size: 12px;
    margin-top: 14px;
}

.criar-button {
    text-decoration: none;
    cursor: pointer;
    color: rgb(1, 1, 160);
    margin-left: 4px;
}

.criar-button:hover {
    text-decoration: underline;
}

.criar-button:active {
    color: rgb(44, 44, 153)
}

.entrar-button {
    font-family: Arial;
    font-size: 14px;
    color: white;
    margin-top: 12px;
    padding: 12px;
    background-color: rgb(1, 1, 160);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.entrar-button:hover {
    background-color: rgb(0, 0, 141);
}

.entrar-button:active {
    background-color: rgb(44, 44, 153);
}

.lion-icon {
    margin-bottom: 18px;
}